<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="XImage.DefaultQuality" value="75"/>
    <add key="XImage.MaxSize" value="1000"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="XImage" type="XImage.XImageModule, XImage"/>
    </modules>
  </system.webServer>
</configuration>